@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: rgb(32, 30, 30);
  color: white;
  flex-wrap: wrap;
  width: 100%;
}

.footer-item p a {
  color: white;
  text-decoration: none;
}

.footer-item ul li {
  list-style: none;
}

.footer-item ul {
  display: flex;
  justify-content: space-around;
}

.footer-section h2 {
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}

.footer-section h2::after {
  content: "";
  width: 4rem;
  height: 0.2rem;
  background: #e65b00;
  position: absolute;
  left: 0;
  top: 2.5rem;
}

.footer-item p {
  margin: 0.35rem;
}

.footer-section p {
  transition: all 0.2s linear;
}

.footer-section p:hover {
  transform: translateX(4px);
  color: #e65b00;
}

.footer-section p a:hover {
  color: #e65b00;
}

.footer-item {
  margin: 1rem;
}

.footer-item li {
  margin-right: 1rem;
}

.social ul li {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.social ul li:hover {
  color: #e65b00;
  transition: all 0.2s linear;
  transform: scale(1.2);
}

@media screen and (max-width: 320px) {
  .footer-section {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;
  }
}